
desktop_software/src/framework/__pycache__/score.cpython-310.pyc
desktop_software/src/framework/__pycache__/sheet_music_generator.cpython-310.pyc
desktop_software/src/gui/__pycache__/__init__.cpython-310.pyc
desktop_software/src/gui/__pycache__/gui.cpython-310.pyc
desktop_software/src/gui/__pycache__/main_window.cpython-310.pyc
desktop_software/src/post_processor/__pycache__/__init__.cpython-310.pyc
*.pyc
*.iml
desktop_software/.idea/inspectionProfiles/profiles_settings.xml
desktop_software/.idea/misc.xml
desktop_software/.idea/modules.xml
desktop_software/.idea/vcs.xml
embedded_software/first_draft_senior_design.X/.generated_files/flags/default/13934e89a0b60aadf270a865491fd60404b483df
embedded_software/first_draft_senior_design.X/.generated_files/flags/default/20e259aca217ff17d438b2e8bf14eb33a4c8eb0c
embedded_software/first_draft_senior_design.X/.generated_files/flags/default/2169eb7f59adc765f8fd18f8498a5583451b88a0
embedded_software/first_draft_senior_design.X/.generated_files/flags/default/6accb1bfefa8ad8f63febce6235b894ef85fd547
embedded_software/first_draft_senior_design.X/.generated_files/flags/default/6e99452739564a07abc4ab8259a3a8183b8d09e1
embedded_software/first_draft_senior_design.X/.generated_files/flags/default/7d31faafb33b8a72ff05645411c63f3fc3872b34
embedded_software/first_draft_senior_design.X/.generated_files/flags/default/911371822aba101bd3191d4de9d8c63dccf807ea
embedded_software/first_draft_senior_design.X/.generated_files/flags/default/9fa1c0825996ca4e1b89bf112165d3a8987f1af
embedded_software/first_draft_senior_design.X/.generated_files/flags/default/a5e6540bb03d1e564befad4bf39a60d11f12b45e
embedded_software/first_draft_senior_design.X/.generated_files/flags/default/a62c6510019d9e11d08a043265b401ae1352afe0
